# Python Variable 


int, float, str, Bool

In [ ]:
x = 10 
print(x)
print(type(x))

10
<class 'int'>

In [ ]:
y = 10.7
print(y)
print(type(y))

10.7
<class 'float'>

In [ ]:
name  = 'Ahmed'
print(type(name))

<class 'str'>

In [ ]:
x = 100 # bad name 
car_speed = 100 # good name

# Conditional statement

In [ ]:
x = 5
if x > 2:
  print('x is greather than 2')
  print('x is large')
print('done')

x is greather than 2
x is large
done

In [ ]:
x = 5
if x < 2:
  print('x is greather than 2')
  print('x is large')
print('done')

done

In [ ]:
if x < 2:
  print('x is greather than 2')
  print('x is large')
else: # x >= 2 
  print('the value of x', x)
print('done')

the value of x 5
done

In [ ]:
x = -5
if x > 2:
  print('x is large')
elif x < 0:
  print('x is negative')
else:
  print('x is zero')
print('done')

x is negative
done

In [ ]:
x = int(input('enter a number: '))
if x > 10 and x < 20:
  print('x is between 10 and 20')
else:
  print('out of range 10-20')

enter a number: 15
x is between 10 and 20

In [ ]:
x = int(input('enter a number: '))
if x == 10 or x == 20:
  print('x is either 10 and 20')
else:
  print('not 10 nor 20')

enter a number: 15
not 10 nor 20

# Exceptions

In [ ]:
x = int(input('enter a number: '))
print(x)

enter a number: five

ValueError: ignored

In [ ]:
try:
  x = int(input('enter a number: '))
  y = int(input('enter a number: '))
  print(x / y)
except ValueError:
  print('please enter a numeric value')
except ZeroDivisionError:
  print('can not divide by zero')

print('done')

enter a number: 10
enter a number: 5
2.0
done

In [ ]:
try:
  x = int(input('enter a number: '))
  y = int(input('enter a number: '))
  print(x / y)
except ValueError:
  print('please enter a numeric value')
except ZeroDivisionError:
  print('can not divide by zero')

print('done')

enter a number: 10
enter a number: 0
can not divide by zero
done

# Functions

In [ ]:
def increase_car_speed():
  print('increase car speed to 100')

In [ ]:
increase_car_speed()

increase car speed to 100

In [ ]:
def sum_values(a, b): # best practice 
  return a + b

In [ ]:
print(sum_values(2, 3))

5

In [ ]:
5 + sum_values(3,4)

12

In [ ]:
# bad practice: make I/O inside the fucntion 

def sum_values_v2():
  a = int(input('enter a: '))
  b = int(input('enter b: '))
  print(a + b)

In [ ]:
sum_values_v2()

enter a: 3
enter b: 4
7

In [ ]:
sum_values_v2() + 5

enter a: 3
enter b: 2
5

TypeError: ignored

# errors in python

In [ ]:
print(color)

NameError: ignored

In [ ]:
int('abc')

ValueError: ignored

In [ ]:
x = 10 
print(x)
print(type(x))
x = 2.5
print(x)
print(type(x))

10
<class 'int'>
2.5
<class 'float'>